@import '../styles/constants';

demo-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

sage-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

demo-app > router-outlet + .main-content,
demo-app > router-outlet + app-component-sidenav {
  margin-top: 56px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: $extra-small-breakpoint-width) {
  demo-app > router-outlet + .main-content,
  demo-app > router-outlet + app-component-sidenav {
    margin-top: 92px;
    overflow-y: visible;
  }
}